body {
    height: 100%;
    background: rgba(245, 163, 0, 0.09);
}

.app {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid rgba(162, 105, 0, 0.17);
}

.app header {
    padding-top: 10px;
    height: 30px;
    text-align: center;
    background: rgba(58, 170, 253, 0.21);
}

.app form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app form label {
    margin-right: 5px;
}

.app form .form-group {
    margin: 10px;
}

.app input, select, button {
    padding: 3px;
    background: rgba(0, 172, 0, 0.15);
    border: 1px solid rgba(0, 128, 0, 0.13);
}

.app button {
    width: 100%;
}

.app button:hover {
    cursor: pointer;
    background: rgba(0, 219, 0, 0.27);
}

.app .error {
    color: red;
    text-align: center;
}